@import "../abstract/variables";
html, body{
    height: 100%;
    background: $color-panel;

}

.form-control:focus{
    box-shadow: none;
}
.form-control--error{
    border: 1px solid $color-danger;
}
.form-group__errors{
    p{
        color: $color-danger;
    }
}
.title_page{
    margin-bottom: 40px;
    text-transform: capitalize;
}
.material{
    box-shadow: 0 3px 3px rgba(0,0,0,0.05);
    &__title{
        margin-bottom: 20px;
        border-bottom: 1px solid $color-gray-cl;
    }
}
.custom-control{
    cursor: pointer;
    margin-bottom: 0;
}

.page{
    &__header{
        padding: 15px;
        background: $color-white;
    }

}
.content{
    margin-top: 30px;
    background: $color-white;
    padding: 20px 10px;
    &--read-edit{
        position: relative;
        &__icon{
            border: none;
            position: absolute;
            right: -15px;
            top: -15px;
            padding: 6px;
            font-size: 18px;
            background: rgba(#eee, 0.6);
            transition: 0.2s ease all;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
            &:hover, &:active, &:focus, &:visited{
                background: $color-sidebar;
            }
        }
        &__edit{
            color: $color-info;
        }
        &__save{
            color: $color-success;
        }
    }
    &__seo{
        margin: 10px 0;

    }

    label{
        display: block;
        color: #6b6b6b;
    }
    &__field{
        margin-bottom: 15px;
        &--one{
            margin-bottom: 0;
        }
        &--check{
            align-items: center;
            display: flex;
            justify-content: space-between;
            label{
                margin-bottom: 0;
            }
        }

    }
    &__field:last-child{
        margin-bottom: 0;
    }
    &__image{
        margin-bottom: 15px;
    }
    &__file{
        height: 250px;
        width: 100%;
        cursor: pointer;
        &__control{
            height: 250px;
            width: 100%;
            img{
                display: block;
                margin: auto;
                height: 100%;
                width: auto;
                max-width: 100%;
            }
        }
        &__input{
            width: 100%;
            height: 250px;
        }
    }
}
.custom-file-control{
    cursor: pointer;
}
.second_element{
    .content{
        margin-left: 20px;
    }
}
.custom-select{
  width: 100%;
}
 .fa{
    cursor: pointer;
}
.error_text{
    font-size: 13px;
    color: $color-danger;
}
.text_data{
    font-size: 16px;
    color: $color-info;
}
i[class*="icon"]{
    font-size: 18px
}
.icon_edit{
    color: $color-info;
}
.icon_delete{
    color: $color-danger;
}
.icon_add{
    color: $color-success;
    border: none;
    background: transparent;
}
input[type='color'] {
    height: 38px;
}