@import "../abstract/variables";

.btn--primary_sm{
    font-size: 16px;
}

.btn{
    cursor: pointer;
}

.btn-create{
    background: $color-info;
    color: $color-white;
    &:hover{
        color: $color-white;
        background: darken( #09f, 5% );
    }
}
.btn--info{
    background: $color-info;
    color: $color-white;
    &:hover{
        color: $color-white;
        background: darken( #09f, 5% );
    }
}
.btn-cancel{
    margin: 0 15px;
}
.btn-save{
    width: 100px;
}