.card{
    &--filter{
        margin-top: 10px;
    }
    &--margin{
        margin-top: 20px;
    }
    &--margin_filter{
        margin-top: 10px;
    }
    .card-header{
        &--center{
            text-align: center;
        }
        .icon_expand{
            position: absolute;
            right: 15px;
            top: 12px;
        }
        &__title{
            font-size: 18px;
            margin-bottom: 0;
        }
    }
    .card-body{
        &--dashboard{
            padding-bottom: 0;
        }
        &__dashboard{
            font-size: 36px;
            margin-bottom: 10px;
            text-align: center;
        }
        &--filters{
            padding: 8px;
        }
        &__filters{
            &__close{
                color: white;
                cursor: pointer;
            }
            &__option{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px;
                border-radius: 4px;
                background: $color-sidebar;
                p{
                    margin: 0;
                    color: white;
                }
            }
        }
        &__date{
            text-align: center;
            font-size: 14px;
            display: block;
        }
    }
}
.card_img{
    position: relative;
    $root: &;
    &:hover{
        #{$root}__overlay{
            display: block;
        }
    }
    &__overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: rgba(0,0,0,0.5);
        display: none;
    }
    &__delete{
        position: absolute;
        top: 45%;
        left: 0;
        right: 0;
        margin: auto;
        color: $color-danger;
        background: white;
        font-size: 20px;
        padding: 5px;
        border-radius: 4px;
        width: 30px;
        cursor: pointer;
        transition: .3s ease all;
        &:hover{
            background: $color-danger;
            color:white;
        }
    }
}