$color-panel : #f7f9fd;
$color-white : #fff;
$color-black : #000;
$color-sidebar : #37485F;
$color-gray-cl: #bbb8b8;
$color-table-link: #929292;
$color-danger: #d9534f;
$color-success: #5cb85c;
$color-info: #007ce2;
$checked-color: #1877c1;
$unchecked-color: #888;
$sidebar:#F1F4F8;
$color-grey: #333;